### Problem statement
Market Basket Analysis: Apriori Algorithm

Dataset: Order1.csv

The dataset has 38765 rows of the purchase orders of people from the
grocery stores. These orders can be analysed, and association rules can
be generated using Market Basket Analysis by algorithms like Apriori
Algorithm.

Follow following Steps:
1. Data Pre-processing
2. Generate the list of transactions fromthe dataset
3. Train Apriori on the dataset
4. Visualize the list of datasets

In [3]:
! pip install apyori

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --silent

In [4]:
import numpy as np
import pandas as pd
from apyori import apriori

In [19]:
store_data = pd.read_csv("../all_datasets/Apriori/Order1.csv")
num_records = len(store_data)
store_data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [30]:
store_data.shape

(38765, 3)

### Data preprocessing

In [20]:
store_data.shape

(38765, 3)

In [31]:
store_data.isna().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [32]:
transaction = store_data.groupby(['Member_number', 'Date'])
transaction.count()

                          itemDescription
Member_number Date
1000          15-03-2015                4
              24-06-2014                3
              24-07-2015                2
              25-11-2015                2
              27-05-2015                2
...                                   ...
4999          24-01-2015                6
              26-12-2015                2
5000          09-03-2014                2
              10-02-2015                3
              16-11-2014                2

[14963 rows x 1 columns]

In [29]:
assosiation_rules

In [26]:
print(assosiation_results[0])

IndexError: list index out of range